#main {
  background: lightyellow;
  border: 3px solid orange;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
} /* for: mobile, tablet */
@media only screen and (min-width: 768px) {
  #main {
    border-color: brown;
    width: 780px;
    max-width: 790px;
    padding: 5px 40px 5px 40px;
  }
} /* for: wide */
#header {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px;
  width: 100%;
  justify-content: center;
  color: darkgreen;
  text-align: center;
} /* for: mobile,tablet */
@media only screen and (min-width: 768px) {
  #header {
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    justify-content: center;
    text-align: center;
  }
} /* for: wide */
#header-img {
  width: 80%;
  height: auto;
  justify-content: center;
  font-size: 0.4em;
}
#nav-bar {
  background-color: orange;
  display: flex;
  width: 100%;
  wrap: nowrap;
  font-size: 0.8em;
  display: inline-block;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  overflow: auto; /* for scroll */
  white-space: nowrap; /* for scroll */
  position: fixed; /* nav menu fixed at top of screen */
  top: 0; /* nav menu fixed at top of screen */
}
@media only screen and (min-width: 768px) {
  #nav-bar {
    flex-flow: row, wrap;
    justify-content: space-around;
    font-size: 1.1em;
  }
}
.hdrtxt {
  width: 80%;
}
.hdrpic {
  width: 20%;
}
.nav-link {
  padding: 1px 8px 1px 8px;
}
#coffee {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: space-between;
} /* for: mobile, tablet */
@media only screen and (min-width: 768px) {
  #coffee {
    display: flex;
    flex-flow: row wrap;
  }
} /* for: wide */
.mpage {
  text-align: left;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
#form {
  border: 2px solid orange;
  border-radius: 5px;
  width: 95pw;
  padding: 10px;
} /* for: mobile,tablet */
@media only screen and (min-width: 768px) {
  #form {
    border-radius: 15px;
    padding: 25px 100px 25px 100px;
    line-height: 250%;
  }
} /* for: wide */
#submit {
  border: 1px solid orange;
  border-radius: 5px;
  background-color: burlywood;
  /*font-size: 1.3em;*/
  font-weight: bold;
  width: 100px;
}
.labels {
  font-size: 1.2em;
}
.inputs {
  font-size: 1.2em;
  width: 400px;
}
.aboutpic {
  width: 50%;
  height: auto;
  font-size: 0.4em;
  margin-left: auto;
  margin-right: auto;
}

#video {
  margin: 0px;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  #video {
    width: 550px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
#video2 {
  margin: 0px;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  #video2 {
    width: 427px; /* 857 */
    height: 240px; /* 480 */
    margin-left: auto;
    margin-right: auto;
  }
}

.clear-div {
  margin: auto;
  text-align: center;
  clear: both;
  border: 3px solid green;
}
p {
  font-size: 1.1em;
}
